<h1>TinyApp</h1>
User : <%= currentUser %>
<%if (currentUser === "Not Logged In") {%>
  <form action="/login" method="GET">
    <input type="submit" value="Login">
  </form>
<%}%>
<%if (currentUser !== "Not Logged In") {%>
  <form action="/logout" method="POST">
    <input type="submit" value="Logout">
  </form>
<%}%>
<form>
  <a href="/register">Register</a>
</form>