<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body style="font-size:20px; padding:50px;">
    <h1>Tiny App</h1>
    <h2>Registration Page</h2>
    <form action="/register" method="POST">
      Email:
      <input id="email" type="email" name="email"><br>
      Password:
      <input id="password" type="password" name="password"><br>
      <input type="submit" value="Register">
    </form>
  </body>
</html>